body {
  margin: 0;
  font-family: sans-serif;
}

.main {
  height: 100vh;
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e3f5ff;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#logo {
  width: 60%;
}

button {
  background-color: #4068af;
  border: none;
  border-radius: 6px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 10px;
  transition: background-color 0.1s;
}

.navbar button {
  width: 100%;
}

button:hover {
  background-color: #2e4a7d;
}

button:active {
  background-color: #1c304f;
}

.navbar a {
  text-decoration: none;
}

#search-user {
  display: flex;
}
#search-user input {
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid black;
  padding: 10px;
}

.content {
  flex: 1;
  padding: 20px;
}

form {
  background: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

input[type="text"],
textarea,
select {
  flex: 1;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 120px;
  resize: vertical;
}
